<h3>Login</h3>
<hr>
<%= form_for @login, :url => sessions_path do |f| %>
<div class='form-field'>
  <%= f.label "Email:" %>
  <%= f.text_field :email %>
  <p class='errors'><%= show_errors(@login, :email) %></p>
</div>

<div class='form-field'>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <p class='errors'><%= show_errors(@login, :password) %></p>
</div>

<%= content_tag(:button, "Login") %>
<% end %>
