<h3>Register</h3>
<hr>
<%= form_for @user do |f| %>
  <div class='form-field'>
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
    <p class='errors'><%= show_errors(@user, :name) %></p>
  </div>

  <div class='form-field'>
    <%= f.label "Email:" %>
    <%= f.text_field :email %>
    <p class='errors'><%= show_errors(@user, :email) %></p>
  </div>

  <div class='form-field'>
    <%= f.label "Password:" %>
    <%= f.password_field :password %>
    <p class='errors'><%= show_errors(@user, :password) %></p>
  </div>

  <%= content_tag(:button, "Register") %>
<% end %>
