<!DOCTYPE html>
<html>
<head>
  <title>BloorsonHoldings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='main-container' class='container'>
    <div class='row'>
      <div class='col-md-10'>
        <h2>Bloorson Holdings</h2>
      </div>
      <div class='col-md-2'>
        <% if session[:user_id] %>
          <%= link_to 'Logout', session_path(session[:user_id]), method: :delete, class: 'nav_link' %>
        <% else %>
          <%= link_to 'Register', new_user_path, class: 'nav_link' %> //
          <%= link_to 'Login', new_session_path, class: 'nav_link' %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <% if session[:user_id] %>
          <%= link_to 'View Listings', user_listings_path(session[:user_id]) %></br>
          <%= link_to 'Add Listing', new_user_listing_path(session[:user_id]) %>
        <% end %>
      </div>
      <div class='col-md-9'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
